###> symfony/framework-bundle ###
/.env
/.env.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> IDE files ###
.idea/
.vscode/
###< IDE files ###

# Ignorer le fichier .env 